body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #011627;
    background-color: #DAE2DF;
}

nav {
    margin: 20px 40px 40px 10px;
    /* background-color: #cfcecc; */
    /* margin: 0 auto; */
    font-size: 20px;
}

.nav-display {
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

nav a:visited {
    color: #011627;
}

nav a:hover{
    opacity: 80%;
}

.nav-link {
    color: #011627;
}

.nav-link.active {
    background-color: #999896; /* Custom background */
    border-radius: 45px;
}

.nav-text {
    margin-bottom: 0;
    align-self: center;
}

.home-layout {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}

#headshot-img {
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 250px;
    border-radius: 50px;
}

h1 {
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    color: #10290C;
}

.project-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1vh 5vw; */
    width: 60%;
    /* padding: 10px 100px 30px 100px; */
    margin: 0 auto;
    margin-bottom: 30px;
    align-self: center;
}

.about{
    /* max-width: 700px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: max-content;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2em;
}

.picture-div {
    flex:1;
    justify-content: center;
    align-items: center;
}

.family-pic {
    max-width: 400px;
    width: 100%;
    justify-self: center;
}

.about-text {
    flex:1;
}

.profile-links {
    display: flex;
    margin: 0 auto; 
    height: auto;
    justify-content: center;
    gap: 20px;
}

.picture-link {
    height: 40px;
}

.picture-link :hover{
    opacity: 70%;
}

footer {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .project-layout {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
    }
    
}

@media screen and (max-width: 1150px) {
    .about {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}